<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.1" package="be.chiro.opbivak">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
	<application android:label="Op Bivak!" android:icon="@drawable/logo" android:theme="@style/Theme.Light"></application>
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>